<%= form_for @boxer do |f| %>

 <% if @boxer.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@boxer.errors.count, "error") %> prohibited
        this boxer from being saved:
      </h2>
      <ul>
        <% @boxer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  Name: <%= f.text_field :name %><br />
  Weight : <%= f.text_field :weight %><br />
  <%= f.submit %>
<% end %>